:root{
    /*aqui van los valores de los colores*/
  --color1: #ff6058b9;
  --color1_: #ff6058;
  --color2: #fa981788;
  --colorMarca1: rgb(255, 130, 0);
  --color3_: #FF3366;
  --color4: #2AC940;
  --color4_: #2ac93fa1;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
  --fuente-delgada: 300;
  --fuente-media: 500;
  --fuente-gruesa: 600;
}
*{
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
    font-weight: var(--fuente-delgada);
    font-size: 24px;
}
body{
    height: 700px;
    /* background-color: rgba(56, 21, 38, 0.356); */
}
.hyr_barra_navegacion{
    background-color: var(--colorMarca1);
    display: flex;
    justify-content: center;
}
.nav-enlace{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0%;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}
.nav-enlace:hover{
    background-color: rgba(0, 0, 0, 0.548);
}
.nav-menu{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    text-align: end;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}
.hyr_contenedor_padre{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    width: 100%;
    height: 35%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hyr_titulo{
    color: black;
    width: 80%;
    font-size: 66px;
    display: flex;
    justify-content: center;
    font-weight: var(--fuente-gruesa);
    text-align: center;
}
.titulos{
    font-size: 40px;
    
}
.hyr_contacto_info_contenedor{
    width: 80%;
    height: 25%;
    margin-left: 5%;
    /* background-color: rgb(91, 175, 7); */
}
.hyr_redes_contenedor{
    width: 50%; 
    display: flex;
    flex-direction: column;
}
.hyr_redes_imagen{
    width: 40%;
    height: 100%;
}
.hyr_redes{
    display: block;
    height: 80%;
    justify-content: center;
}
.hyr_contacto_info{
    color: black;

}
.hyr_maps_redes{
    width: 100%;
    height: 40%;
    display: flex;
}
.hyr_redes_boton{
    width: 65%;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 15px;
    border-radius: 13px;
    background-color: rgb(43, 43, 43);
    color: white;
}
.Img_RedesSociales{
    height: 80px;
    width: 80px;
}
.Google_maps{
    height: 400px;
    width: 400px;
    margin-top: 7%;
}
section{
    width: 100%;
    height: 30%;
    /* background-color: rgb(87, 131, 43); */
}
@media(max-width:700px){
    nav{
        flex-direction: column;
    }
    .nav-menu{
        display:inline-block;
        text-align: center;
    }
    .desaparace{
        display: none;
    }
    .div-menu{
        padding: 5px;
        display: block;
        justify-content: center;
    }
    .div-logo{
        width: 100%;
    }
    .div-navegador{
        width: 100%;
    }
    .div-login{
        width: 100%;
    }
}