:root{
    /*aqui van los valores de los colores*/
  --color1: #ff6058b9;
  --color1_: #ff6058;
  --color2: #fa981788;
  --color2_: #FA9917;
  --color3_: #FF3366;
  --color4: #2AC940;
  --color4_: #2ac93fa1;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
  --fuente-delgada: 300;
  --fuente-media: 500;
  --fuente-gruesa: 600;
}
*{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: var(--fuente-delgada);
    font-size: 24px;
}
header{
    width: 100%;
    height: 600px;
    background: url(../img/header.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
}
#hyr_barra_responsive{
    /* background-color: rgb(233, 233, 233); */
    border-radius: 24px;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: flex-end;
}
#slide-bar{
    height: 100%;
    width: 50%;
}
.active{
    display: none;
}
.nav-slide{
    background-color: rgba(26, 26, 26, 0.753);
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 15px 10px ;
}
.hyr_barra_navegacion{
    background-color: rgb(225, 125, 32);
    padding: 0px;
    display: flex;
    justify-content: center;
}
.nav-enlace{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0%;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.nav-menu{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: none;
    text-align: end;
    background-color: aqua;
}
.nav-enlace:hover{
    background-color: rgba(0, 0, 0, 0.548);
}
.hyr_imagen_header{
    width: 100%;
    height: 90%;
}
.hyr_imagen_header--img{
    width: 100%;
    height: 100%;
}
.hyr_main{
    width: 100%;
    height: 900px;
    display: inline-block;
    justify-content: center;
}
.hyr_quines_somos{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hyr_quines_somos_info{
    color: rgb(5, 5, 5);
    width: 70%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid rgb(70, 70, 70);
    border-bottom-left-radius: 2px;
}
.hyr_titulo{
    text-align: center;
    width: 100%;
    height: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: var(--fuente-gruesa);
    font-size: 30px;
}
.hyr_nuestros_servicios_contenedor{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hyr_nuestros_servicios{
    width: 80%;
    height: 100%;
    display: block;
    justify-content: center;
    padding: 10px;
}
.hyr_nuestros_servicios_items{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.hyr_nuestros_servicios_producto{
    width: 24%;
    text-align: center;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.hyr_nuestros_servicios_producto--Imagenes{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-top: 10%;
    width: 100%;
}
.hyr_nuestros_servicios_boton{
    width: 100%;
    height: 120px;
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    height: 300px;
    width: 100%;
    background-color: rgb(225, 125, 32);
    display: flex;
    justify-content: center;
}
.hyr_footer{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    flex-direction: column;
}
.hyr_footer_btn{
    margin-top: 20px;
    width: 30%;
    height: 29%;
    border-radius: 24px;
    background-color: rgb(43, 43, 43);
    color: white;
}
@media(max-width:320px){
    .section-sabores{
        height: 400px;
    }
    .section-1{
        display:inline-block;
        justify-content: center;
        height: 400px;
    }
}
@media(max-width:500px){
    .section-titulo{
        height: 50px;
    }
    .info-login{
        display: none;
    }
}
@media(max-width:700px){
    nav{
        flex-direction: column;
    }
    .nav-menu{
        display:inline-block;
        text-align: center;
    }
    .desaparace{
        display: none;
    }
    .div-menu{
        padding: 5px;
        display: block;
        justify-content: center;
    }
    .div-logo{
        width: 100%;
    }
    .div-navegador{
        width: 100%;
    }
    .div-login{
        width: 100%;
    }
    .section-1{
        display:inline-block;
        justify-content: center;
        height: 900px;
    }
    .fila-1{
        width: 100%;
        height: 50%;
    }
}
@media(max-width:900px){
    #chicle{
        width: 20%;
        height: 100%;
        display: none;
    }
}
@media(max-width:1100px){
    nav{
        flex-direction: column;
        width: 50%;
        justify-content: flex-end;
    }
    .nav-menu{
        display:inline-block;
    }
    .desaparace{
        display: none;
    }
    .div-menu{
        display: flex;
        justify-content: center;
    }
    .div-logo{
        width: 50%;
    }
    .div-navegador{
        width: 50%;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
    }
    .div-login{
        width: 100%;
    }
    #cafe{
        width: 20%;
        height: 100%;
        display: none;
    }
    .column-sabores-container{
        justify-content: space-around;
    }
    #imagen-1{
        background-size: 90%;
    }
    #imagen-2{
        background-size: 90%;
    }
}
@media(max-width:1350px){
    /*En esta oarte de codigo se acomodara la barra deslizadora*/
    #fresa{
        width: 20%;
        height: 100%;
        display: none;
    }
    .column-sabores-container{
        justify-content: space-around;
    }
    #imagen-1{
        background-size: 85%;
    }
    #imagen-2{
        background-size: 90%;
    }
}