:root{
    /*aqui van los valores de los colores*/
  --color1: #ff6058b9;
  --color1_: #ff6058;
  --color2: #fa981788;
  --colorMarca1: rgb(255, 130, 0);
  --color3_: #FF3366;
  --color4: #2AC940;
  --gris: rgba(128, 128, 128, 0.329);;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
  --fuente-delgada: 300;
  --fuente-media: 500;
  --fuente-gruesa: 600;
}
@font-face {
    font-family: luis;
    src: url(fonts/Louis\ George\ Cafe.ttf);
}
*{
    margin: 0%;
    font-family: 'Bebas Neue', cursive;
    font-weight: var(--fuente-delgada);
    font-size: 24px;
}  

.hyr_header{
    width: 100%;
    height: 50px;
}
#hyr_barra_responsive{
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: flex-end;
}
#slide-bar{
    height: 100%;
    width: 50%;
}
.active{
    display: none;
}
.nav-slide{
    background-color: rgba(26, 26, 26, 0.753);
    color: white;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    padding: 15px 10px ;
    
}
.hyr_barra_navegacion{
    background-color: var(--colorMarca1);
    padding: 0px;
    display: flex;
    justify-content: center;
}
.nav-enlace{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0%;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}
.nav-menu{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    width: 100%;
    height: 100%;
    color: white;  
    display: none;
    text-align: end;
    background-color: rgb(6, 58, 58);
}
.nav-enlace:hover{
    background-color: rgba(0, 0, 0, 0.548);
}
.hyr_main{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hyr_main_header{
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hyr_main_header p{
   font-family: luis;
}
.hyr_main_formulario{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.hyr_main_formulario div label{
    font-family: luis;
    font-weight: 500;
    height: 24px;
}
.hyr_main_formulario div input{
    border-radius: 10px;
    border-style: none;
    height: 24px;
    background-color: var(--gris)
}
.hyr_titulo{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: var(--fuente-gruesa);
    font-size: 30px;
}
.hyr_main_horario_contenedor{
    width: 90%;
    height: 900px;
    display: flex;
    justify-content: center;
}
.hyr_main_horario{
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 33%;
    height: 90%;
    margin: 10px;
}
.month {
    width: 100%;
    height: 100px;
    background-color:var(--colorMarca1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
  
.month i {
    font-size: 24px;
    cursor: pointer;
}
  
.month h1 {
    font-size: 24px;    
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}
  
.month p {
    font-size: 20px;
}
  
.weekdays {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
  
.weekdays div {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 0.1rem;
    width: calc(44.2rem / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}
  
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}
  
.days div {
    font-size: 15px;
    width: calc(430px / 7);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
}
  
.days div:hover:not(.today) {
    background-color: var(--gris);
    border: 2px solid rgba(119, 119, 119, 0.521);
    cursor: pointer;
}
.next-date{
    color: rgba(0, 0, 0, 0.555);
}
.prev-date{
    color: rgba(0, 0, 0, 0.555);
}

#seccion_2{
    padding: 10px;
    width: 15%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: var(--gris);
}

.hyr_horas_calendario:hover{
    background-color: var(--gris);
    border: 2px solid rgba(71, 71, 71, 0.521);
    cursor: pointer;
}
#seccion_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: var(--gris);  
    gap: 10px;
    padding: 10px;
}
.hyr_lugar_calendario{
    background-color: rgba(109, 109, 109, 0.918)
}

.hyr_lugar_calendario:hover{
    background-color: var(--colorMarca1);
    border: 2px solid rgba(119, 119, 119, 0.521);
    cursor: pointer;
}
footer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hyr_reserva{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--colorMarca1);
}
.hyr_reserva p{
    color: white;
    width: 90%;
    text-align: center;
}
.hyr_reserva_boton {
    margin: 40px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: var(--colorMarca1);
}
.hyr_reserva_boton p{

    font-size: 30px;
    font-weight: 500;
}
@media(max-width:320px){
    .section-sabores{
        height: 400px;
    }   
    .section-1{
        display:inline-block;
        justify-content: center;
        height: 400px;
    }
}
@media(max-width:500px){
    .section-titulo{
        height: 50px;
    }
    .info-login{
        display: none;
    }
    
}
@media(max-width:700px){
    nav{
        flex-direction: column;
    }
    .nav-menu{
        display:inline-block;
        text-align: center;
    }
    .desaparace{
        display: none;
    } 
    .div-menu{
        padding: 5px;
        display: block;
        justify-content: center;
    }
    .div-logo{
        width: 100%;
    }
    .div-navegador{
        width: 100%;
    }
    .div-login{
        width: 100%;
    }
}
@media(max-width:900px){
    #chicle{
        width: 20%; 
        height: 100%;
        display: none;
    }
}
@media(max-width:1100px){
    nav{
        flex-direction: column;
        width: 50%;
        justify-content: flex-end;
    }
    .nav-menu{
        display:inline-block;
    }
    .desaparace{
        display: none;
    } 
    .div-menu{
        display: flex;
        justify-content: center;
    }
    .div-logo{
        width: 50%;
    }
    .div-navegador{
        width: 50%;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
    }
}
@media(max-width:1350px){
    /*En esta oarte de codigo se acomodara la barra deslizadora*/
    #fresa{
        width: 20%; 
        height: 100%;
        display: none;
    }
    .column-sabores-container{
        justify-content: space-around;
    }
    
    #imagen-1{
        background-size: 85%;
    }
    #imagen-2{
        background-size: 90%;
    }
}

