:root{
    /*aqui van los valores de los colores*/
  --color1: #ff6058b9;
  --color1_: #ff6058;
  --color2: #fa981788;
  --color2_: #FA9917;
  --color3_: #FF3366;
  --color4: #2AC940;
  --color4_: #2ac93fa1;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
  --fuente-delgada: 300;
  --fuente-media: 500;
  --fuente-gruesa: 600;
}
*{
    margin: 0%;
    font-family: 'Oswald', sans-serif;
    font-weight: var(--fuente-delgada);
    font-size: 24px;
}
body{
    height: 700px;
    background-color: rgba(56, 21, 38, 0.356);
}
.hyr_barra_navegacion{
    background-color: rgb(225, 125, 32);
    padding: 0px;
    display: flex;
    justify-content: center;
}
.nav-enlace{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0%;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.nav-enlace:hover{
    background-color: rgba(0, 0, 0, 0.548);
}
.nav-menu{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
    width: 100%;
    height: 100%;
    color: white;  
    display: none;
    text-align: end;
    background-color: aqua;
}
main{
    width: 100%;
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;

    justify-content: end;
}
.hyr_contenedor_padre{
    width: 50%;
    height: 80%;
    padding: 60px;
    background-color: cadetblue;
}
header{
    width: 100%;
    height: 30%;
    background: url(../img/header.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    /* background-color: gold; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hyr_titulo{
    color: black;
    width: 550px;
    font-size: 66px;
    font-weight: var(--fuente-gruesa);
}
.titulos{
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.hyr_contacto_info_contenedor{
    width: 100%;
    height: 25%;
    /* background-color: rgb(91, 175, 7); */
}
.hyr_redes_contenedor{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hyr_redes_imagen, .hyr_redes_imagen--img{
    height: 100%;
}
.hyr_redes{
    display: block;
    height: 80%;
    justify-content: center;
}
.hyr_contacto_info{
    color: black;
}
.hyr_redes_boton{
    width: 15%;
    margin-top: 20px;
    margin-left: 5%;
    margin-bottom: 15px;
    border-radius: 13px;
    background-color: rgb(43, 43, 43);
    color: white;
}
.Google_maps{
    margin-top: 20px;
    margin-left: 5%;
}
section{
    width: 100%;
    height: 30%;
    background-color: rgb(87, 131, 43);
}
@media(max-width:700px){
    nav{
        flex-direction: column;
    }
    .nav-menu{
        display:inline-block;
        text-align: center;
    }
    .desaparace{
        display: none;
    }
    .div-menu{
        padding: 5px;
        display: block;
        justify-content: center;
    }
    .div-logo{
        width: 100%;
    }
    .div-navegador{
        width: 100%;
    }
    .div-login{
        width: 100%;
    }
}